.yith-wcwl-add-button {
    text-align: right;
}
div#variation_pa_outfit {
    display: none;
}
div#variation_pa_talla {
    display: none;
}
div#variation_pa_style {
    display: none;
}
.progress-info > div > div {
	display: flex!important;
	    width: 100%;
	border-radius: 8px;
	height: 14px;
    background-color: #e3e5e9;
}

.progress-info .phoen_swatches {
	width: auto!important;
	height: auto!important;
}

.progress-info .position_before.variation_button.selected::after {
	  border-radius: 9px;
    background-color: #0f4388;
	position: absolute;
	content: "";
	    content: "";
    width: 100%;
    height: 100%;
	top: -22px;
	
}


.valoracion-1, .valoracion-2, .valoracion-3{
     display: flex;

	
}

.progress-info .variation_buttons {
position: relative;	
}

.progress-info  .phoen_tooltip {
	display: none!important;
}
.progress-info .variation_button {
	    width: 100%;
    display: block;
	    font-family: Helvetica;
    font-size: 13px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
	position: relative;
	    display: flex;
    justify-content: center;
    align-items: center;
	    transform: translateY(22px);
}
.yith-wcwl-wishlistexistsbrowse a{
    color: white;
}
.short-code_yith {
    width: 56.3rem;
    margin-top: -11px;
}


nav.woocommerce-pagination {
    display: flex;
    justify-content: center;
}
ul.page-numbers {
    display: flex;
}
ul.products.columns-4 {
    padding-bottom: 0px;
}
.features-item img{
	    width: 20px;
    height: 20px;
    object-fit: contain;
}
.bapf_slidr_main.ui-widget-content .ui-slider-range, .berocket_filter_price_slider.ui-widget-content .ui-slider-range {
    background: #0f448a !important;
}
span.ui-slider-handle.ui-state-default.ui-corner-all {
  background: #ffffff;
    border-radius: 50%;
    outline: none;
    border: 3px solid #0f448a;
}
a.hover_cat {
    position: absolute;
    margin-left: 2px;
}
.cart-number{
    border: 0;
    border-radius: 50%;
    position: absolute;
    right: 6%;
    font-size: .6rem;
    font-family: sans-serif;
    bottom: 48%;
    font-weight: 600;
    width: 1rem;
    height: 1rem;
    outline: none;
    color: #ffffff;
}
.dgwt-wcas-search-wrapp .dgwt-wcas-sf-wrapp input[type=search].dgwt-wcas-search-input, .dgwt-wcas-search-wrapp .dgwt-wcas-sf-wrapp input[type=search].dgwt-wcas-search-input:hover, .dgwt-wcas-search-wrapp .dgwt-wcas-sf-wrapp input[type=search].dgwt-wcas-search-input:focus {
    background-color: transparent !important;
    color: white !important;
}
.dgwt-wcas-search-wrapp .dgwt-wcas-sf-wrapp .dgwt-wcas-search-submit {
    background-color: transparent !important;
    color: #fff !important;
}
.dgwt-wcas-search-wrapp .dgwt-wcas-sf-wrapp .dgwt-wcas-search-submit, .dgwt-wcas-om-bar .dgwt-wcas-om-return {
    margin-right: 14rem !important;
}
.dgwt-wcas-sf-wrapp input[type=search].dgwt-wcas-search-input {
    border: 0px solid #ddd !important;
    border-bottom: 1px solid rgba(255, 255, 255, .35) !important;
}
.dgwt-wcas-search-wrapp .dgwt-wcas-sf-wrapp .dgwt-wcas-search-submit::before {
    display: none !important;
}
 @media (min-width: 0px) and (max-width: 767px) {
.nav__menu {

    width: 100%;
}
	 
	 .single-donation__form .frm_forms {
		 width: 100%;
	 }
	 
	 	.padding-right-left {
		padding-left: 20px!important;
		padding-right: 20px!important;
	}
	 .products .multiple-items {
		 padding-left:20px;
		 padding-right: 20px;
	 }
	 .content {
		 padding: 7px;
	 }
	 .accordion {
		 padding: 30px 10px;
	 }
	 
	 .accordion:after {
		position: absolute;
		 top: 0;
    right: 0;
	 }
	 .give-back .container-grid {
		 grid-template-columns: 100%;
		 gap: 40px;
	 }
	 form.woocommerce-form.woocommerce-form-login.login, .woocommerce-form-register, .woocommerce-ResetPassword {
		 width: 100%;
	 }
	 .manuales .container-grid { 
	 grid-template-columns: 100%;
		 gap: 40px;
	 }
	 .recomendation .container-grid {
		 grid-template-columns: 100%;
	 }
	 .products .slick-prev, .products .slick-next {
    width: 58px;
		 height: 58px;}
	 .impacto_child {
		 grid-template-columns: 100%!important;
		 gap: 40px!important;
	 }
	  .vistas  h3 {
		 padding-left: 20px;
		 padding-right: 20px;
	 }
	 .mision .impacto_child {
		 grid-template-columns: 100%;}
	 
	 .impacto_child:nth-child(even) .impacto_informacion{
	order: 1;
}
	 
	 .donation .donation-item {
		 grid-template-columns: 100%;
	 }
	 .impacto_informacion h3 {
    font-size: 34px;	 }
	 .text-overlay {
		 padding: 20px;
	 }
	 
	 .main-banner .main-banner__img2 {
		 height: 300px;
	 }
	 
	 .main-banner .mask .main-banner__text .main-banner__title p, .faqs h3, .great h3, .general-title, .text_news h3, .qr-item__title {
		 font-size: 34px;
	 }
	 .services .container-grid { 
		 grid-template-columns: 100%;
		 }
	 	 .faqs .container-grid { 
		 grid-template-columns: 100%;
			 gap: 40px;
		 }
	 .services-item__title {
		 width: 100%;
	 }
	 
	 .great .container-grid {
		 grid-template-columns: 100%;
		 gap: 40px;
	 }
	 
	 	.great .container-grid{
		grid-template-columns: 100%;
		gap: 40px;
		}
	.comunidad .container-grid {
		grid-template-columns: 100%;}
	.card-post_itemxl {
    grid-column: auto;
	}
	 
	 .card-post_item:first-child {
		 grid-column: auto;
	 }
	 .comunidad {
		 padding-left: 20px;
		 padding-right: 20px;
	 }
.woocommerce-grid {
    grid-template-columns: 100%;
    gap: 40px;
}
	 .woocommerce-padding {
    padding-left: 20px;
    padding-right: 20px;
}
	 
	 .shop-content {
		    padding-left: 20px!important;
    padding-right: 20px!important;
	 }

	 .shop-flex {
		 grid-template-columns: 100%;
	 }
	 
	 .cards-shop-grid {
		 grid-template-columns: 100%;
		 gap: 20px;
	 }
	 .card-post_text h4 {
		 font-size: 28px;margin-bottom: 10px;
	 }
	.card-post {
		grid-template-columns: 100%;
	}
	 .cards-shop-flex {
		 grid-template-columns: 100%;
	 }
	 
	 
	 .card-product2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 9px;
		 padding: 10px;}
	 
	 
	 .header__main {
		 padding: 20px;
	 }
	 
	 .cards-shop{
		 width:100%;
	 }
.terminos h3:before{
    display: none;
	
}
.terminos h3:after{
    display: none;
}
	 
	 .qr-item__img { 
	   height: 172px;
}
	 
	 #accordion-1 .arrow {
left:auto;
    right: 5px;
		 }
	 	 #accordion-2 .arrow {
left:auto;
    right: 5px;
		 }
	 	 #accordion-3 .arrow {
left:auto;
    right: 5px;
		 }
	 	 #accordion-4 .arrow {
left:auto;
    right: 5px;
		 }
	 	 #accordion-5 .arrow {
left:auto;
    right: 5px;
		 }
.nav2{
	margin-bottom: 0;
}
	 .images-des {
    display: grid;

}

.container.form-complete{
    width: auto;
}
	 .card-post_text p{
		font-size: 12px; 
	 }
	 
	 .form2 input {
		 width: 100%!important;
	 }
	 
	 .contact .frm_button_submit {
		 width: 100%;
	 }

.confirm{
    width: auto;
}

.info-complete{
    width: auto;
}

.flex-complete{
    display: block;
}

section.page-exito {
   
    padding-left: 20px;
    padding-right: 20px;
}

.help{
    display: block;
    width: auto;
    text-align: center;
}
.border-pago{
    width: auto;
}

.text-info p{
    margin-left: 0;
}

.page-exito h4 {
    margin-bottom: 5%;
}
.icon-pedido{
    display: block;
}

.commit {
    flex-direction: column;
	    align-items: center;
    }

    .tab-line2{
        border-right: none!important;
		    border-right: none!important;
    padding: 0;
		margin-bottom: 10px;
    border-bottom: 1px solid;
    }
    .codigo{
        width: auto;
    }

    .codigo_text{
        display: block;
    }

.first {

    margin-bottom: 10%;}

    .container.form-complete {
    text-align: center;
    margin-bottom: 10%;
}
    .news{
           height: 65vh;
    }

    .text_news {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    position: absolute;
    width: auto;
    top: 0;
    bottom: 0;
    left: 10%;
    right: 0;
}

.posts{
    display: block;
}

.card-post_item_two{
    width: auto;
}

.card-post-right .card-post_item_two{
    width: auto;
}

.info-donacion h3 {
    font-size: 30px;
    }
.manuales-card{
	display: block;
}

.text-selec {
    margin-top: 15%;
    }

.text-act2 img{
	width: auto;
}

.text-cate p {
    color: #fff;
    text-align: center;
}

a.flex-menu {
    font-size: 15px;
}


    .categ h5:after{
    	display: none;
    }

    .text-act2 {
   text-align: center;
       margin-bottom: 15%;
}



    .text-act2 p{
   text-align: center;
}


.manuales h3{
	    margin-bottom: 15%;
}

.categ{
	margin-left: 0!important;
}

.title-actv{
		margin-left: 0!important;
}

.categ h5 {

    margin-bottom: 5%;
}



.btn_custom2 {

    padding: 10px 40px;
    }

.icon-valores{
	width: 100%;
}

.valores h3 {
    font-size: 34px;
    }

.none-this{
	display: none;
}
.contact{
	grid-template-columns: 100%;
    padding-left: 25px;
    padding-right: 25px;
}
	 
	 .form2 input {
		 width: 100%!important;
	 }

section.faqs {

    padding-left: 30px;
    padding-right: 30px;
    }
    .faqs h3 {
    margin-bottom: 15%;
}

.question {

    font-size: 13px;
    }
    .plus {
    position: absolute;
    right: 18%;
}

div#collections {
    padding-left: 15px;
    padding-right: 15px;
    }

.information .block-237  ul{
	margin-left: -10%;
}

footer.ftco-footer.ftco-section {
    background: #fff;
    padding-left: 20px;
    padding-right: 20px;
}

.flex-there{
	width: auto;
	    margin-bottom: 10%;
}

.mask-blog .link-page {
    right: 14px;
}

.register_form {
width: 90%;
    padding: 33px 15px;
    }

    .register_form input{
    	width: 100%;
    }

.form{
	width: auto;
}

.information {
  width: auto;
  margin-top: 15%;
}


.form-search_title {
    color: #000;
    font-size: 15px;
    font-weight: bold;
    padding: .5rem 3rem;
    font-family: 'Lato-Regular';
}

.form-search input {
    background: transparent;
    border-bottom: 2px solid #000!important;
    border: none;
    color: #000;
        margin-left: 75%;
    }

    .nav-link {

    font-size: 13px;
}

.text-error h4 {
    font-size: 20px;
        margin-bottom: 5%;
    margin-top: 5%;
}
    .text-error h2 {
    font-size: 7rem;
}

.text-error p {

    line-height: 1.3;
    }

.text-error h2 {
    font-size: 8rem;}

    .text-error{
    	padding-left: 10px;
    padding-right: 10px;
    }

.this{
	font-size: 15px;
}

input.search-field::placeholder{
color: #a2d2b1!important;

}

.responsive-menu-btn{
	width: auto;
}

.responsive-menu-btn.--is-open svg.close{
	left: 0
}

.tablinks p {

    font-size: 12px;
    }

    .tab2 .tab-line {
    border-right: 1px solid #000!important;
    height: 40px;
}

.logo-main img, .logo.here a img{
	    width: 80%;
}
	 footer .padding-right-left {
		 padding-left: 20px;
		 padding-right: 20px;
	 }
	 
	 footer .container-grid {
    grid-template-columns: 100%;
    gap: 20px;
}
	 
	 .link-page, .link-page2 {
		 align-items: flex-end;
		       margin-bottom: 20px;
		 width: min-content;
	 }
	 .link-page img, .link-page2 img{
		     width: 26px;
    object-fit: contain;
	 }
	 .link-page_item p {
		 margin: 0 5%;
	 }
	 
	 .link-page2 {
		     left: 0;
    right: inherit;
	 }
	 
	 .link-page {
		     left: initial;
    right: 0;    flex-direction: row-reverse;

	 }

	 .main-banner .main-banner__img {
		 height: 362px;
	 }
	 
	 .demo {
		 display: none;
	 }
	 
	 .tab2 button {
    
    background-color: transparent;
    color: black;
text-align: center;
    border: none;
    cursor: pointer;
    width: auto;
        padding: 10px 11px!important;
}

.logo-footer{

margin-bottom: 3%;
justify-content: center!important;
}

.ftco-footer .ftco-footer-widget h2{
	margin-left: 0;
}

.container.info-centro{
display: block;
padding-bottom: 50px;
padding-top: 50px;  
}

.text-cta_flex{
	display: block;
}

.text-overlay h3 {
    color: #fff;
    font-size: 20px;
}

.products{
	height: auto;
	    padding-top: 50px;
}

.ftco-footer-widget .block-237{
	width: auto;
	    margin-left: -16%;
}
	
.products h3 {
    font-size: 34px;
}

.main-banner .mask .main-banner__text .main-banner__description {

    width: 95%;
    }
	 
	 
.none{
	display: none;
}
/*-------------------RESPONSIVE WOOCOMMECER----------------------------------*/
.woocommerce .cart-collaterals{
display: block;
width: 100%;
}

.gallery-first{
margin-left: 0;
display: block;
width: 100%;
}

p.cart-empty.woocommerce-info {

margin-top: 20%;
}

a.button.product_type_simple.add_to_cart_button.ajax_add_to_cart {
margin: -3% 0 3% 5%;
}

.woocommerce-product-gallery__image a img {
width: 100%;
height: auto;
}

.display-2 {

padding: 15px;
}
.woocommerce-error li, .woocommerce-info li, .woocommerce-message li {

font-size: 10px;
}

.products li{
height: auto;
}

.product_title.entry-title{
margin-top: 10%;

}

.woocommerce-product-gallery__image.flex-active-slide {
margin-top: 2%;
}

.flex-viewport {
height: 100%!important;
}

.block-res{
margin-bottom:0!important;
}


.woocommerce-message {

display: flex;
flex-direction: column-reverse;
margin: 2em 1em 2em 1em!important;
}


.pize span.woocommerce-Price-amount.amount{
padding-left: 0px!important;
}

.woocommerce #content table.cart .product-thumbnail, .woocommerce table.cart .product-thumbnail, .woocommerce-page #content table.cart .product-thumbnail, .woocommerce-page table.cart .product-thumbnail{
display: inherit!important;
}

.woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals {
padding: 20px!important;
float: none!important;
}

.woocommerce #content table.cart td.actions .input-text, .woocommerce table.cart td.actions .input-text, .woocommerce-page #content table.cart td.actions .input-text, .woocommerce-page table.cart td.actions .input-text {
width: 156px!important;
margin-bottom: 0%;
}

.woocommerce-form.woocommerce-form-login.login{
width:auto;
}

.u-column1.col-1{
width:auto!important;
}

.vw-sirat-aboutus-title h3 {
color: #222;
text-align: center;
margin-bottom: 13%;

}

.u-column2.col-2 h2{
margin-top: 20%!important;
}

.details{
padding-top: 50px!important;
}

.woocommerce-form.woocommerce-form-register.register{
width:auto;
}

.woocommerce table.shop_table_responsive tr td::before, .woocommerce-page table.shop_table_responsive tr td::before {
content: attr(data-title) ": ";
font-weight: 700;
float: left;
}


.products-relation {
padding-top: 50px;
padding-bottom: 50px;
}

.blog-text{
font-size: 22px;
}

.products-text{
font-size: 22px;
}


.product_meta{

font-size: 13px!important;
margin-bottom: 5%;

}
.button, .post-password-form input[type=submit], .woocommerce a.button, .woocommerce button.button, .woocommerce input.button, .woocommerce input.button.alt, .woocommerce-cart .wc-proceed-to-checkout a.checkout-button{
margin-top:5%;
}
.wcl-progress-meter {
position: relative;
margin-top: 4em;
margin-bottom: 4em;
font-size: 10px;
}

.cart-title{
padding-top: 20px!important;
padding-bottom: 35px;
}

.woocommerce ul.order_details li{
border-right: none;
}

.section_title .cart-title{
padding-top: 20px!important;
}

.woocommerce ul.order_details li{
margin-right: 0!important;
padding-right: 0!important;
}


.flex-control-nav {

list-style: none;
width: auto;
position: absolute;
right: 0;
display: flex;
margin-top: 10%;
top: -3%;
left: 5%;
}

.flex-control-nav img {
height: 4rem;
}

h3, .h3 {
font-size: 25px;
}
.woocommerce ul.order_details {
margin: 0 0 3em;
list-style: none;
text-align: center;
display: grid;
}

p.woocommerce-notice.woocommerce-notice--success.woocommerce-thankyou-order-received {
padding-top: 35%;
font-weight: bold;
font-size: 18px;
padding-left: 5px;
padding-right: 5px;
margin-bottom: 5%;
}

main .products {
display: flex;
}


h2 {
font-size: 1.5rem;
}

.flex-cards{
display: grid;
}

h1.product_title.entry-title {
font-size: 25px;
}

span.woocommerce-Price-amount.amount {
font-size: 18px;
}



.woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals{
width: auto;
}
.headin-title-productos h3{
margin-top: 25%!important;
padding-bottom: 0%!important;
}
div#payment{
margin-top: 10%;
}
.woocommerce table.shop_table_responsive tr, .woocommerce-page table.shop_table_responsive tr {
display: block;
}

.woocommerce form .form-row{
display: block!important;
}

.woocommerce table.shop_table_responsive tr td, .woocommerce-page table.shop_table_responsive tr td {
display: block;
text-align: right!important;
}
#order_review
{
width: 100%;
}
.woocommerce .cart-collaterals {
display: block;
width: 100%;
}

figure.woocommerce-product-gallery__wrapper {
margin-top: 20%;
}

.section_title {
font-size: 25px;
padding-top: 0;
}

.woocommerce-billing-fields {
margin-top: -10%;
}

.finalizar-c {
padding-top: 120px;
}

form.checkout.woocommerce-checkout{
padding-right: 0;
padding-left: 0;
}

.select2-container.select2-container--default .select2-selection--single{
margin-left: 0;
}

.woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea{
margin-left: 0;
}

form.checkout.woocommerce-checkout{
display: block;
}

.page-numbers {
display: flex;
    flex-wrap: wrap;
}

	 .show-this {
		     width: 100%;
    justify-content: right;
		 margin-bottom: 10px;
	
	 }
	 .filter-product {
	 flex-direction: column;
	 }
	 .show-results {
		 margin-right: 20px;
	 }
.woocommerce form .form-row input{
margin-left: 0;
}

select{
margin-left: 0;     margin-left: -4px;     margin-left: -4px;
}
::placeholder{
color: #000!important;
}
i.fa.fa-search {
width: 12px;
height: 12px;
position: absolute;
top: 22%;
left: 65%;
}

.mask-blog h3{
font-size: 34px!important;
}

input[type="search"] {
padding-left: 15px;
margin-left: 4%;
}

.topbar-email .fa-user{
	margin-right: 10%;
}

.topbar-email .fa-heart-o{
	margin-right: 10%;
}

.topbar-email .fa .fa-shopping-bag{
	margin-right: 1%;
}

.img-cate img {
    width: 100%;
    }

    .img-cate{
    width: 100%;
    }

    .text-cate h4 {
    font-size: 30px;}

}

@media (min-width: 768px) and (max-width: 997px) {

	.padding-right-left {
		padding-left:50px!important;
		padding-right: 50px!important;
	}
	.qr-item__title {
		font-size: 55px;	
	}
footer .container-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
}
	.contact{
	grid-template-columns: 100%;
    padding-left: 50px;
    padding-right: 50px;
}
		 .manuales .container-grid { 
	 grid-template-columns: 1fr 1fr;
		 gap: 40px;
	 }
	 .recomendation .container-grid {
		 grid-template-columns: 100%;
	 }

	.information {
		order:-1;
	}	
	
	.main-banner .main-banner__img2 {
		height:331px;
	}
	.main-banner .mask .main-banner__text .main-banner__title p, .mask-blog h3 {
		font-size: 50px!important;
	}
	.services-item__title {
		width: 100%;	
	}
	section.faqs {
    padding-left: 50px;
    padding-right: 50px;
}
	
	.faqs .container-grid {
		gap: 40px;
	}
	 .accordion:after {
		position: absolute;
		 top: 0;
    right: 0;
	 }
		 .give-back .container-grid {
		 grid-template-columns: 100%;
		 gap: 40px;
	 }
	 .donation .donation-item {
		 grid-template-columns: 100%;
	 }
	footer .padding-right-left {
		padding-left: 50px;
		padding-right: 50px;
	}
	.impacto_child { 
		grid-template-columns: 100%!important;
		gap: 40px!important;
		}
	
	.impacto_informacion { 
		order: -1;
	}
	
	.woocommerce-grid {
    grid-template-columns: 100%;
    gap: 40px;
}
	 .woocommerce-padding {
    padding-left: 40px;
    padding-right: 40px;

}
	.text-overlay {
		padding: 20px;
	}
	.main-banner .main-banner__img {
		height: 373px;
	}
	
	.great .container-grid{
		grid-template-columns: 100%;
		gap: 40px;
		}
	.comunidad .container-grid {
		grid-template-columns: 1fr 1fr;}
	.card-post_itemxl {
    grid-column: auto;
	}
	.card-post_item:first-child {
		grid-column: auto;
	}
	.card-post {
		grid-template-columns: 100%;
	}
	
	 .qr-item__img{
	height: 421px;	
	}
	
	.register_form {
		width: 90%;
		padding: 40px;
	}
	
		.cards-shop-grid {
    grid-template-columns: 1fr 1fr;
    gap: 24px;
	}
	.shop-flex {
		grid-template-columns: 200px 1fr;}
	
	section.shop-content {
    padding-left: 40px;
		padding-right: 40px;}
	.show-this {
		width: auto;
	}

	.show-results {
		    margin-right: 15px;
	}
	
	.card-products__link a {
		padding: 9px 9px;
	}
}

@media (min-width: 998px) and (max-width: 1024px) {
	footer .container-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
}
	.cards-shop-flex {
		grid-template-columns: 100%;}
		section.faqs {
    padding-left: 50px;
    padding-right: 50px;
}
	 .give-back .container-grid {
		 grid-template-columns: 1fr 1fr;
		 gap: 40px;
	 }
	 .recomendation .container-grid {
		 grid-template-columns: 1fr 1fr;
	 }
	

	.donation .donation-item {
		    grid-template-columns: 1fr 1fr;
    gap: 73px;
	}
	
	.mask-blog h3 {
		font-size: 50px;
	}
	
	footer .padding-right-left {
		padding-left: 50px;
		padding-right: 50px;
	}
	.main-banner .main-banner__img {
		height: 500px;
	}
	.great .container-grid {
		gap: 47px;}
	
	.main-banner .main-banner__img2 {
		height: 421px;
	}
	
	section.shop-content {
		    padding-left: 50px;
    padding-right: 50px;
	}
	
	.cards-shop-grid {
		grid-template-columns: 1fr 1fr;
		gap: 40px;
	}
	
	.show-this {
		    width: auto;
	}
	
	.show-this .nav-tabs {
		margin-left: 10px;
	}

}

@media (min-width: 768px) and (max-width: 1024px) {

.team h3 {

font-size: 30px;
}

::placeholder{
color: #000!important;
}


i.fa.fa-search {
width: 12px;
height: 12px;
position: absolute;
top: 25%;
left: 92%;
}

input[type="search"] {
padding-left: 0;
margin-left: 2%;
width: 95%;
}

input{
border: solid 2px #a0d1af;
}


.team h6::before{
display: none;
}

.team h6::after{
display: none;
}

.logo-mobile img {
max-height: 40px;
}

.img-icon img {
width: 30%;
}

.register_form input {
outline: none;
background: transparent;
border:1px solid #ddd;
width: 100%;

}

.about_info1 h6{
margin-left: 0;
}

.reasons h6 {

font-size: 30px;
}

.text1-img {

padding-left: 10px;
padding-right: 10px;
}

.img-about2 img{
width: 100%;
}

.about_info1 h6::before{
display: none;
}

.about_info1 h6::after{
display: none;
}


.hov-img-zoom img{
width: 245px;
height: auto;
}

.block1-wrapbtn {
bottom: -12%;
}



h1.product_title.entry-title {

font-size: 25px;
}

.flex-control-nav {

list-style: none;
width: auto;
position: absolute;
right: 0;
display: flex;
/* margin-top: 10%; */
top: -28%;
left: 1%;
}

.flex-control-nav img {
height: 4rem;
}

.details{
padding-top: 200px!important;
}


.headin-title-productos h3{
margin-top: 10%!important;
}

.sizeof{
width: auto!important;
}

.topbar-email{
display: none;
}

.blog-content {

flex-wrap: wrap;
}
.desct-products {
justify-content: space-around;
text-align: center;
}

.wrap_header_mobile{
box-shadow: 0 1px 2px 0px rgba(0,0,0,0.2);
}

.section_title{
padding-top: 100px;
}


.product-desc{
padding-bottom: 100px!important;
}

p.woocommerce-notice.woocommerce-notice--success.woocommerce-thankyou-order-received {
padding-top: 15%
}

.mask-item{
align-items: center;
}
.five {
width: 39%;
}

.block1{
margin-bottom: 0px;
}

.cart-title{
margin-bottom: 3%;
}
input[type="radio"]{
width: auto!important;
}

.respon3{
width: auto;
}

.w-size6{
width: auto;
}
.sec-title{
margin-top: 0!important;
justify-content: center;
}

.block2 {
margin-left: 0px;
}

.sec-res{
padding-top: 150px;
}

.cards-products {
justify-content: center;}

.woocommerce #content table.cart td.actions .input-text, .woocommerce table.cart td.actions .input-text, .woocommerce-page #content table.cart td.actions .input-text, .woocommerce-page table.cart td.actions .input-text {
width: 156px!important;
margin-bottom: 1%;
}

.multiple-items .slick-dots {
bottom: -12%!important;
}
.multiple-card .slick-dots {
bottom: -6%!important;
}

.this-one {
width: 225px;
}

.team h6::before{
display: none;
}

.team h6::after{
display: none;
}

.img-about{
display: none;
}

.green{
display: none;
}

.team h3{

font-size: 30px;
}

.ftco-footer-widget {
margin-bottom: 5%;
}

.about_info1 h6::before{
display: none;
}

.about_info1 h6::after{
display: none;
}

.comoda h6::before{
display: none;
}

.comoda h6::after{
display: none;
}

.box-mujer {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
position: absolute;
top: 0;
right: 0;
bottom: 0;
width: 100%;
background: rgb(169 168 165 / 27%);
}

.about_info h6::before{
display: none;
}

.about_info h6::after{
display: none;
}

.text-banner {
position: absolute;
top: 0;
background: rgb(0 0 0 / 28%);
bottom: 0;
right: 0;
left: 0;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
}


.text-error h4 {
    font-size: 20px;
}
    .text-error h2 {
    font-size: 7rem;
}

.text-error h2 {
    font-size: 8rem;}

    .text-error{
    	padding-left: 10px;
    padding-right: 10px;
    }


section.category {
padding-top: 100px;
}

input.search-field::placeholder{
color: #a2d2b1!important;

}



}


@media (min-width: 768px) and (max-width: 1024px) {
.responsive-menu-btn.--is-open svg.close {
    left: 170px!important;
}



	


.codigo{
    width: auto;
}
.help{
    display: block;
}
.confirm{
    width: auto;
}

.info-complete{
    width: auto;
}


.card-post-right .card-post_item_two{
    width: auto;
}
.header {
    height: 40vh;
    }

.container.form-complete {
    text-align: center;
    width: 85%;}

    .info-donacion h3 {
    font-size: 30px;
}






.card-post .flex-this{
    display: block;
}

.card-post_item_two{
    width: auto;
}

.card-post_item img{
    height: auto;
}


.card-post_text h4 {
    color: #000;
    font-weight: bold;
    font-size: 15px;
	margin-bottom: 10px;
}

.text-act2 img {
    width: 200px;
    }
.link-page {

    left: 78%;
    }

    .main-banner__content .slick-dots {

    right: 10%;
}

.plus {
    position: absolute;
    right: 25%;
    }
}

@media (min-width: 768px) and (max-width: 1366px) {


.nav__menu{
width: 299px;
}

.flex-there {

    width: -webkit-fill-available;
    }

.nav2 {
    margin-bottom: 10%;
}

.login {
    width: 35%;
    }

    .form-search {
    width: 25%;
}



.ftco-footer-widget .block-237 {
   width: auto;
}

.block-237 ul{
	    margin-left: -15%;
}

.responsive-menu-btn.--is-open svg.close {
        right: 0;
}



.products{
	height: auto;
}

}

@media (min-width: 998px) and (max-width: 1024px) {
	.mision .impacto_child {
		grid-template-columns: 1fr 1fr ;
	}
	.padding-right-left {
		padding-left: 50px!important;
		padding-right: 50px!important;
	}
}